/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 55%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 53%;
    }

    #contact-form{
        width: 100%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 480px) {
    .apresentation{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .apresentation__image{
        display: none;
    }
    .apresentation__content{
        margin: auto;
        width: 80%;
    }
    .apresentation__button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apresentation__button__social {
        padding: 5px 15px; /* Ajuste o padding conforme necessário */
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
        width: 60%; /* Ajuste a largura conforme necessário */
        text-align: center; /* Centraliza o texto dentro do botão */
    }
    .apresentation__button__social a {
        text-decoration: none;
        color: #161616;
    }

    /*Sobre mim*/

    .about {
        height: auto;
    }
    .about__content{
        flex-wrap: wrap;
        padding: 0;
    }
    .about__content__about{
        font-size: 20px;
    }
    
    .about__content__dev{
        font-size: 35px;
    }
    
    .about__content__text{
        font-size: 14px;
    }
    
    .about__button{

    }
    
    .about__button__curriculum{
        padding: 2px 15px;
        width: 120px;
        font-size: 18px;
        text-decoration: none;
    }
    
    .about__button__curriculum a {
        text-decoration: none;
        color: #161616;
    }
}
