@media screen and (max-width: 576px) {
    .apresentation {
        max-width: 95%;
    }
    .about{
        max-width: 95%;
    }
    .container{
        max-width: 95%;
    }
    .fa-sharp {
        font-size: 3.0em;
    }
}

@media screen and (max-width: 990px) {
    .projects__button{
        width: 50%;
    }
}

@media screen and (max-width: 510px) {
    .contact__content{
        font-size: 1.1rem;
        padding: 5px 0;
        margin-left: -30px;
    }
    .apresentation__title{
        font-size: 1.3rem;
        padding: 5px 0;
        margin-left: -30px;
    }
    .apresentation__content{
        font-size: 2rem;
        padding: 5px 0;
        margin-left: -30px;
    }
    .buttons{
        margin-left: -30px;
    }
    .about__content{
        margin-left: -30px;
    }
    .about__content__title{
        font-size: 1.3rem;
    }
    .about__content__title__2{
        font-size: 2rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 992px) {
    .apresentation__image img {
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media (max-width: 767px) {
    .slick-prev,
    .slick-next {
        display: none !important; /* Adicionando !important para garantir que a regra seja aplicada */
    }
}

