/* GERAIS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #161616 !important;
}

* {
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
    
.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* NAVBAR */
header, .navbar {
    background-color: #fca61d;
    position: fixed;
    z-index: 1;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

.bars{
    color: #fff;
    font-size: 2rem;
}

.navbar-nav a.nav-link {
    color: #fff; 
    text-decoration: none; 
    font-size: 20px;
}

.navbar-nav{
    margin-right: 30px !important;
}

.nav-item{
    padding-left: 25px !important;
}

#logo {
    width: 60px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

/*APRESENTAÇÃO*/

.main {
    display: flex;
    flex-direction: column;
}

.apresentation{
    display: flex;
    margin-top: 120px !important;
    justify-content: space-between;
    padding: 50px;
    width: 65%;
    margin: 0 auto;
    background-color: #2b2b2b;
    border-radius: 5px;
}

.apresentation__image{
    display: flex;
    align-items: center;

}

.apresentation__image img {
    width: 14rem;
    border-radius: 50%;
}

.apresentation__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
}

.apresentation__content__name{
    /*font-size: 25px;*/
    font-size: 1.5rem;
    color: #fff;
}

.apresentation__content__dev{
    /*font-size: 55px;*/
    font-size: 3rem;
    color: #fff;
}

.apresentation__content__name,
.apresentation__content__dev{
    margin-bottom: 8%;
}

.apresentation__button {
    display: flex;
    gap: 15px;
}

.apresentation__button__social {
    padding: 2px 15px;
    border-radius: 5px;
    width: 40%;
    font-size: 18px;
    text-decoration: none;
}

.apresentation__button__social a {
    text-decoration: none;
    color: #161616;
}

/*SOBRE*/

.about{
    display: flex;
    margin-top: 80px !important;
    width: 65%;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 40px;
    height: auto;
}

.about__content{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 0px 25px;
    width: 70%;
}

.about__content__about{
    font-size: 25px;
    color: #fff;
}

.about__content__dev{
    font-size: 35px;
    color: #fff;
}

.about__content__text{
    font-size: 16px;
    color: #fff;
}

.about__content__about,
.about__content__dev,
.about__content__text {
    margin-bottom: 20px;
}

.about__button{
    position: absolute;
    bottom: 12%;
    right: 12%;
}

.about__button__curriculum{
    padding: 2px 15px;
    border-radius: 5px;
    width: 120px;
    font-size: 18px;
    text-decoration: none;
}

.about__button__curriculum a {
    text-decoration: none;
    color: #161616;
}

/*PROJETOS*/

.myProjects{
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
}

.projects {
    background-color: #2b2b2b;
    display: flex;
    margin-top: 140px;
    margin: auto;
    width: 70%;
    position: relative;
    height: 300px;
    border-radius: 5px;
}

.project__image{
    width: 50%;
}

.project__image img{
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.project__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    justify-content: center;
}

.project__technologies{
    display: flex;
    padding: 20px;
    gap: 10px;
}

.fa-js {
    font-size: 2em;
    color: #FFD43B;
}

.project__description__title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.project__description__content{
    color: #fff;
    font-size: 16px;
    margin-bottom: 60px;
    margin-bottom: 100px;
}

.project__button{
    position: absolute;
    margin-top: 20%;
}

.project__button__project{
    padding: 5px 20px;
    border-radius: 5px;
    width: 180px;
    font-size: 18px;
    text-decoration: none;
}

.project__button__project a{
    text-decoration: none;
    color: #161616;
}

.project__technologies{
    position: absolute;
    top: 0;
    right: 0;
}

/*SKILLS*/

.mySkills{
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
}

.skills{
    background-color: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
    border-radius: 5px;
}

.skills__name {
    padding: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.skills__name img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

/*CERTIFICADOS*/

.certificates {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 30px;
    color: #fff;
}

.certificates__header {
    margin: 0 auto 3rem auto;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 80px;
}

.certificates__header > h2 {
    margin: 0; 
}

.certificates__header>p {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.certificates-section {
    margin-bottom: 3%;
}

.certificates-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
}

.certificates__title {
    color: #fff;
}

.certificates-image {
    width: 400px;
    padding: 25px;
}


/*SETAS CARROSSEL*/

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}


/*CONTATO*/

.contact{
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    margin-top: 80px !important;
    margin-bottom: 50px;
    margin: auto;
    width: 70%;
    position: relative;
    height: auto;
    border-radius: 5px;
}

.title__contact{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 30px;
    color: #fff;
    padding: 20px 0px;
}

.fa-js-contact{
    font-size: 40px;
    color: #FFD43B;
    margin-right: 10px;
}

.fa-js-contact-social{
    font-size: 30px;
    margin-right: 10px;
}

.contact__content{
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.contact__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact__links{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 25px;
    right: 50px;
    align-items: center;
}

/*FOOTER*/
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    margin-top: 140px;
    padding: 2%;
    color: #fff;
}

.footer__social-midia {
    display: flex;
    align-items: center;
}

.footer__social-midia a {
    color: var(--footer-color);
    padding: 0px 5px;
}

.footer__paragraph {
    color: var(--footer-color);
    margin: 0; 
    padding: 0 10px;
}